@import 'animations.css';

.to-do{
    width: 100%;
    margin-top: 5%;
    padding-top: 10px;
    display: flex;
    background: rgba(0, 0, 0, 50%);
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fade 1s forwards;
    animation-delay: 0.65s;
}

.to-do-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 5%;
}

.add-to-do{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: -2%;
    margin-bottom: 2%;
}

.add-icon{
    width: 1.4rem;
    height: 1.4rem;
    background-size: cover;
    background-image: url("../../images/add_circle_unhover.svg");
    margin: 0 2%;
}

.add-to-do:hover .add-icon{
    background-image: url("../../images/add_circle.svg");
}

.to-do-list{
    margin: 2% 10%;
    display: flex;
    width: 80%;
    flex-direction: column;
}

.to-do-list>div{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1% 0;
    font-size: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.check-icon{
    width: 1.4rem;
    height: 1.4rem;
    background-size: cover;
    background-image: url("../../images/uncheck.svg");
    margin: 1% 2%;
}

.check-icon:hover{
    background-image: url("../../images/check.svg");
}

.input-to-do-container{
    width: 100%;
    display: none;
}

.input-to-do-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-to-do{
    width: 90%;
    border: 0;
    border-bottom: 2px solid rgb(219, 219, 219);
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    background: transparent;
    transition: border-color 0.2s;
}

.input-to-do::placeholder {
    color: transparent;
}

.input-to-do:placeholder-shown ~.input-to-do-label {
    font-size: 1.3rem;
    cursor: text;
    top: 18rem;
    z-index: -1;
}

.input-to-do-label {
    position: absolute;
    top: 18rem;
    left: 1.3rem;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(219, 219, 219);
    z-index: -1;
}
.input-to-do:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #3a7bd5, #00d2ff);
    border-image-slice: 1;
}
.input-to-do:focus ~.input-to-do-label {
    position: absolute;
    top: 17.2rem;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #3a7bd5;
    font-weight: 700;
}

.input-to-do:required, .input-to-do:invalid {
    box-shadow: none;
}

.todo-item {
    opacity: 0s;
    animation: fade 0.85s forwards;
}